/*

  BASE STYLES / VARIABLES
*/







/*

  SHINE LAYERS

*/


:root {

    --card-aspect: 0.718;
    --card-radius: 4.55% / 3.5%;
    --card-edge: hsl(47, 100%, 78%);
    --card-back: hsl(205, 100%, 25%);
    --card-glow: hsl(175, 100%, 90%);

    --sunpillar-1: hsl(2, 100%, 73%);
    --sunpillar-2: hsl(53, 100%, 69%);
    --sunpillar-3: hsl(93, 100%, 69%);
    --sunpillar-4: hsl(176, 100%, 76%);
    --sunpillar-5: hsl(228, 100%, 74%);
    --sunpillar-6: hsl(283, 100%, 73%);

    --sunpillar-clr-1: var(--sunpillar-1);
    --sunpillar-clr-2: var(--sunpillar-2);
    --sunpillar-clr-3: var(--sunpillar-3);
    --sunpillar-clr-4: var(--sunpillar-4);
    --sunpillar-clr-5: var(--sunpillar-5);
    --sunpillar-clr-6: var(--sunpillar-6);

}

.card {

    /* place the card on a new transform layer and
    make sure it has hardward acceleration... we gun'need that! */
    -webkit-transform: translate3d(0px, 0px, 0.01px);
    transform: translate3d(0px, 0px, 0.01px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    pointer-events: none;

    /* make sure the card is above others if it's scaled up */
    z-index: calc(var(--card-scale) * 2);

    /* every little helps! */
    will-change: transform, visibility, z-index;

}

.card,
.card * {
    /* outline is a little trick to anti-alias */
    outline: 1px solid transparent;
}

.card:not( .interactive ) .card__translater,
.card:not( .interactive ) .card__rotator,
.card:not( .interactive ) .card__shine,
.card:not( .interactive ) .card__glare {

    /* if this card is not in a framework, we can add simply
      hover effects when it's not "interactive" */
    transition: all 0.3s ease;

}
.card:not( .interactive ):hover {

    --pointer-x: 25% !important;
    --pointer-y: 10% !important;
    --card-scale: 1.1 !important;
    --card-opacity: 1 !important;
    --translate-x: 0px !important;
    --translate-y: -10px !important;
    --rotate-x: 7deg !important;
    --rotate-y: -19deg !important;
    --background-x: 44% !important;
    --background-y: 36% !important;
    --pointer-from-center: .9 !important;
    --pointer-from-top: .11 !important;
    --pointer-from-left: .25 !important;

}

.card.water       { --card-glow: hsl(192, 97%,  60%); }
.card.fire        { --card-glow: hsl(9,   81%,  59%); }
.card.grass       { --card-glow: hsl(96,  81%,  65%); }
.card.lightning   { --card-glow: hsl(54,  87%,  63%); }
.card.psychic     { --card-glow: hsl(281, 62%,  58%); }
.card.fighting    { --card-glow: rgb(145, 90, 39); }
.card.darkness    { --card-glow: hsl(189, 77%,  27%); }
.card.metal       { --card-glow: hsl(184, 20%,  70%); }
.card.dragon      { --card-glow: hsl(51, 60%, 35%); }
.card.fairy       { --card-glow: hsl(323, 100%, 89%); }

.card,
.card__rotator {
    aspect-ratio: var(--card-aspect);
    border-radius: var(--card-radius);
}

.card.interacting {
    z-index: calc(var(--card-scale) * 120);
}

.card.active .card__translater,
.card.active .card__rotator {
    /* prevent pinch/double-tap zooms on card */
    touch-action: none;
}

.card__translater,
.card__rotator {
    display: grid;
    perspective: 600px;
    will-change: transform, box-shadow;
    transform-origin: center;
    -webkit-transform-origin: center;
    transform-style: preserve-3d;
}

.card__translater {
    width: auto;
    position: relative;
    -webkit-transform: translate3d(var(--translate-x), var(--translate-y), 0.1px) scale(var(--card-scale));
    transform: translate3d(var(--translate-x), var(--translate-y), 0.1px) scale(var(--card-scale));
}

.card__rotator {
    -webkit-transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
    -webkit-transform-style: preserve-3d;
    transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));

    /* performance */
    pointer-events: auto;
    /* overflow: hidden; <-- this improves perf on mobile, but breaks backface visibility. */
    /* isolation: isolate; <-- this improves perf, but breaks backface visibility on Chrome. */
}

button.card__rotator {
    /* because the card is a button, there's some default
      browser styles which need to be subdued */
    border: none;
    background: transparent;
    padding: 0;
    -webkit-appearance: none;
    appearance: none;
}

.card__rotator,
.card.active .card__rotator:focus {
    transition: box-shadow 0.4s ease, opacity .33s ease-out;
    box-shadow:
            0 0 3px -1px transparent,
            0 0 2px 1px transparent,
            0 0 5px 0px transparent,
            0px 10px 20px -5px black,
            0 2px 15px -5px black,
            0 0 20px 0px transparent;
}

.card.active .card__rotator,
.card__rotator:focus {
    box-shadow:
            0 0 3px -1px white,
            0 0 3px 1px var(--card-edge),
            0 0 12px 2px var(--card-glow),
            0px 10px 20px -5px black,
            0 0 40px -30px var(--card-glow),
            0 0 50px -20px var(--card-glow)
}

.card__rotator * {
    width: 100%;
    display: grid;
    grid-area: 1/1;
    aspect-ratio: var(--card-aspect);
    border-radius: var(--card-radius);
    image-rendering: optimizeQuality;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    pointer-events: none;
    overflow: hidden;
}

.card__rotator img {
    height: auto;
}
.card__rotator img:not(.card__back) {
    -webkit-transform: translate3d(0px, 0px, 0.01px);
    transform: translate3d(0px, 0px, 0.01px);
    object-fit: cover;
}

.card__back {
    background-color: var(--card-back);
    -webkit-transform: rotateY(180deg) translateZ(1px);
    transform: rotateY(180deg) translateZ(1px);
    backface-visibility: visible;
}

.card__front,
.card__front * {
    backface-visibility: hidden;
}

.card__front {
    opacity: 1;
    transition: opacity 0.33s ease-out;
    -webkit-transform: translate3d(0px, 0px, 0.01px);
    transform: translate3d(0px, 0px, 0.01px);
}

.loading .card__front {
    opacity: 0;
}

.loading .card__back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


/**

Shine & Glare Effects

**/

.card__shine {

    display: grid;
    transform: translateZ(1px);
    overflow: hidden;
    z-index: 3;

    background: transparent;
    background-size: cover;
    background-position: center;

    filter: brightness(.85) contrast(2.75) saturate(.65);
    mix-blend-mode: color-dodge;

    opacity: var(--card-opacity);

}

.card__shine:before,
.card__shine:after {

    --sunpillar-clr-1: var(--sunpillar-5);
    --sunpillar-clr-2: var(--sunpillar-6);
    --sunpillar-clr-3: var(--sunpillar-1);
    --sunpillar-clr-4: var(--sunpillar-2);
    --sunpillar-clr-5: var(--sunpillar-3);
    --sunpillar-clr-6: var(--sunpillar-4);

    grid-area: 1/1;
    transform: translateZ(1px);
    border-radius: var(--card-radius);

}

.card__shine:after {

    --sunpillar-clr-1: var( --sunpillar-6 );
    --sunpillar-clr-2: var( --sunpillar-1 );
    --sunpillar-clr-3: var( --sunpillar-2 );
    --sunpillar-clr-4: var( --sunpillar-3 );
    --sunpillar-clr-5: var( --sunpillar-4 );
    --sunpillar-clr-6: var( --sunpillar-5 );

    transform: translateZ(1.2px);

}

.card__glare {

    /* make sure the glare doesn't clip */
    transform: translateZ(1.41px);
    overflow: hidden;

    background-image: radial-gradient(
            farthest-corner circle at var(--pointer-x) var(--pointer-y),
            hsla(0, 0%, 100%, 0.8) 10%,
            hsla(0, 0%, 100%, 0.65) 20%,
            hsla(0, 0%, 0%, 0.5) 90%
    );

    opacity: var(--card-opacity);
    mix-blend-mode: overlay;

}






/**

  Masking Effects

**/

.card.masked .card__shine,
.card.masked .card__shine:before,
.card.masked .card__shine:after {

    /** masking image for cards which are masked **/
    /*-webkit-mask-image: var(--mask);*/
    /*mask-image: var(--mask);*/
    /*-webkit-mask-size: cover;*/
    /*mask-size: cover;*/
    /*-webkit-mask-position: center center;*/
    /*mask-position: center center;*/

    mask: var(--mask) center/cover no-repeat, linear-gradient(#000 0 0);
    mask-composite: exclude;

}


.card {

    --grain: url("/img/grain.webp");
    --glitter: url("/img/glitter.png");
    --glittersize: 25%;

    --space: 5%;
    --angle: 133deg;
    --imgsize: cover;

    --red: #f80e35;
    --yellow: #eedf10;
    --green: #21e985;
    --blue: #0dbde9;
    --violet: #c929f1;

    --clip: inset( 9.85% 8% 52.85% 8% );
    --clip-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 8% 9.85%, 8% 47.15%, 0 50%);

    --clip-stage: polygon(91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 92% 47.15%);
    --clip-stage-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 0 50%);

    --clip-trainer: inset(14.5% 8.5% 48.2% 8.5%);
    --clip-borders: inset(2.8% 4% round 2.55% / 1.5%);

}

.card__shine,
.card__glare {

    will-change: transform, opacity, background-image, background-size,
    background-position, background-blend-mode, filter;

}

/*

  TRAINER GALLERY HOLO

*/







/*

  SHINE LAYERS

*/

.card[data-rarity="trainer gallery rare holo"] .card__shine,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__shine,
.card[data-set="swshp"][data-number="swsh020"] .card__shine {

    --space: 5%;
    --angle: -22deg;
    --imgsize: 300% 400%;

    /*clip-path: var(--clip-borders);*/

    background-image:
            repeating-linear-gradient( var(--angle),
            hsla(283, 49%, 60%, 0.75) calc(var(--space)*1),
            hsla(2, 74%, 59%, 0.75) calc(var(--space)*2),
            hsla(53, 67%, 53%, 0.75) calc(var(--space)*3),
            hsla(93, 56%, 52%, 0.75) calc(var(--space)*4),
            hsla(176, 38%, 50%, 0.75) calc(var(--space)*5),
            hsla(228, 100%, 77%, 0.75) calc(var(--space)*6),
            hsla(283, 49%, 61%, 0.75) calc(var(--space)*7)
            );

    background-blend-mode: color-dodge;
    background-size: var(--imgsize);
    background-position: 0% calc(var(--background-y) * 1), var(--background-x) var(--background-y);

    filter: brightness(calc((var(--pointer-from-center)*0.3) + 0.5)) contrast(2.3) saturate(1);

}

.card[data-rarity="trainer gallery rare holo"] .card__shine:after,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__shine:after,
.card[data-set="swshp"][data-number="swsh020"] .card__shine:after {

    content: "";

    background-image:
            radial-gradient(
                    farthest-corner ellipse
                    at calc( ((var(--pointer-x)) * 0.5) + 25% ) calc( ((var(--pointer-y)) * 0.5) + 25% ),
                    hsl(0, 0%, 100%) 5%,
                    hsla(300, 100%, 11%, 0.6) 40%,
                    hsl(0, 0%, 22%) 120%
            );

    background-position: center center;
    background-size: 400% 500%;

    filter: brightness(calc((var(--pointer-from-center)*0.2) + 0.4)) contrast(.85) saturate(1.1);
    mix-blend-mode: hard-light;

}

.card[data-rarity="trainer gallery rare holo"] .card__shine:before,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__shine:before,
.card[data-set="swshp"][data-number="swsh020"] .card__shine:before {
    content: none;
    display: none;
}











/*

  GLARE LAYERS

*/

.card[data-rarity="trainer gallery rare holo"] .card__glare,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__glare,
.card[data-set="swshp"][data-number="swsh020"] .card__glare {

    background-image:
            radial-gradient(
                    farthest-corner circle at var(--pointer-x) var(--pointer-y),
                    hsla(0, 0%, 100%, 1) 10%,
                    hsla(0, 0%, 100%, 0.6) 35%,
                    hsla(180, 11%, 35%, 1) 60%
            );

    mix-blend-mode: soft-light;

}


.card[data-rarity="trainer gallery rare holo"] .card__glare:before,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__glare:before,
.card[data-rarity="trainer gallery rare holo"] .card__glare:after,
.card[data-rarity="rare holo"][data-trainer-gallery="true"] .card__glare:after {
    content: none;
    display: none;
}